{{ define "main" }}
  <article>
    <div class="article-header">
      <div class="article-header-content">
          <small class="category">{{.Params.category}}</small>
          <h1 class="article-title">{{.Title}}</h1>
          <div class="article-meta">
              <small>{{ .Date.Format "Mon, Jan 2, 2006" }}</small> | 
              <small>Read in {{ .ReadingTime }} minutes</small>
          </div>
          <p>{{ .Description }}</p>
      </div>
      <div aria-hidden="true" class="article-header-image" >
        {{ if .Params.image }}
        <div class="article-header-image-container" style='background: #ccc url("{{ .Params.image }}");align-self: stretch;
        background-size: cover;'></div>
        {{ end }}
        {{ if .Params.imageLink }}
        <div class="article-header-image-container" style='background: #ccc url("https://source.unsplash.com/{{.Params.imageLink}}/800x800");align-self: stretch;
        background-size: cover;'></div>
        {{ end }}
        {{ if .Params.imageAttribute }}
        <a href="{{ .Params.imageAttribute }}" class="image-attribution" target="_blank" rel="noreferrer">{{ .Params.imageAttribute }}</a>
        {{end}}
      </div>
    </div>
    <div class="article-content content-body">
      {{ .Content }}
    </div>
  </article>
  <section class="comments">
      <div class="content-body">
        <h2>Comments are closed</h2>
        <p>I invite you to touch base with me on <a href="https://twitter.com/joshuabriley">Twitter</a>, <a href="https://www.facebook.com/joshua.briley">Facebook</a>, or <a href="https://www.linkedin.com/in/somecallmejosh/">LinkedIn</a> to chit-chat about this article.</p>
        <small>Moderating comments can be a full time job. Unfortunately, I don't have the time required to keep comments in check. I also do not see the need to sacrifice the speed of this site with some of the freely available commenting systems. </small>
      </div>
  </section>
{{ end }}