
.article-header-image {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 100%;
}

.image-attribution {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    color: rgba(0,0,0,.3);
    font-size: .7rem;
}

.article-header-content {
    padding: 2rem;
}

.article-content {
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem;
}

.article-meta {
    margin-bottom: 3rem;
}

.article-title {
    font-size: 2rem;
    margin-bottom: .5rem;
}

@media (min-width: 768px) {
    .article-header {
        display: flex;
        align-items: center;
        min-height: 500px;
        max-width: 1100px;
        margin: 0 auto 3rem;
    }
    
    .article-header > div {
        flex: 1 0 50%;
    }
}