.card {
    margin-bottom: 1rem;
}

.card a:hover {
    box-shadow: 0 0 30px var(--black-20);
}

.card a {
    background-color: var(--white);
    border-radius: 1rem;
    display: block;
    text-decoration: none;
    padding: 2rem;
    transition: box-shadow .2s;
}

.card-wrapper {
    margin-bottom: 1rem;
}
