.hero {
    background-color: var(--black-020);
    margin: 0;
    overflow: auto;
}

.hero a {
    text-decoration: none;
}

.hero a:hover p,
.hero a:hover small,
.hero a:hover h2  {
    color: var(--black-50);
}

.hero-text {
    padding: 1rem;
}

@media (min-width: 768px) {
    .hero {
        height: calc(100vh - 96px);
    } 

    .hero-text {
        padding: 1rem 2rem;
    }
}