* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lora', serif;
    background-color: rgba(0,0,0,.025);
}


h1,h2,h3,h4,h5,h6, strong, th {
    color: rgba(0,0,0,.8);
}

p,li, small {
    color: rgba(0,0,0,.6);
}

p,li {
    line-height: 1.5;
}

header {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

main {
    margin: 0 auto;
    padding: 1rem;
    max-width: 768px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}
nav li {
    list-style: none;
    margin-left: 2rem;
}

nav a {
    color: rgba(0,0,0,.8);
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.article-meta {
    margin-bottom: 3rem;
}

.article-title {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.card {
    margin-bottom: 1rem;
}

.card a:hover {
    box-shadow: 0 0 30px rgba(0,0,0,.2);
}

.card a {
    background-color: #fff;
    border-radius: 1rem;
    display: block;
    text-decoration: none;
    padding: 2rem;
    transition: box-shadow .2s;
}

.card-wrapper {
    margin-bottom: 1rem;
}


.highlight { background-color: #fff; margin-bottom: 1.5rem; padding: 2rem; border-radius: 1rem; overflow-x: scroll;}
table .highlight {margin-bottom: 0; max-width: 100%;}
.highlight .c { color: #008800; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000080; font-weight: bold } /* Keyword */
.highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #008080 } /* Comment.Preproc */
.highlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight .cs { color: #008800; font-weight: bold } /* Comment.Special */
.highlight .gd { color: rgba(0,0,0,.6); background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: rgba(0,0,0,.6); background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #000080; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #0000FF } /* Literal.Number */
.highlight .s { color: #0000FF } /* Literal.String */
.highlight .na { color: #FF0000 } /* Name.Attribute */
.highlight .nt { color: #000080; font-weight: bold } /* Name.Tag */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #0000FF } /* Literal.Number.Float */
.highlight .mh { color: #0000FF } /* Literal.Number.Hex */
.highlight .mi { color: #0000FF } /* Literal.Number.Integer */
.highlight .mo { color: #0000FF } /* Literal.Number.Oct */
.highlight .sb { color: #0000FF } /* Literal.String.Backtick */
.highlight .sc { color: #800080 } /* Literal.String.Char */
.highlight .sd { color: #0000FF } /* Literal.String.Doc */
.highlight .s2 { color: #0000FF } /* Literal.String.Double */
.highlight .se { color: #0000FF } /* Literal.String.Escape */
.highlight .sh { color: #0000FF } /* Literal.String.Heredoc */
.highlight .si { color: #0000FF } /* Literal.String.Interpol */
.highlight .sx { color: #0000FF } /* Literal.String.Other */
.highlight .sr { color: #0000FF } /* Literal.String.Regex */
.highlight .s1 { color: #0000FF } /* Literal.String.Single */
.highlight .ss { color: #0000FF } /* Literal.String.Symbol */
.highlight .il { color: #0000FF } /* Literal.Number.Integer.Long */

code {
	background-color: #fff !important;
}