* {
    box-sizing: border-box;
}
html {
    font-size: 110%;
}

html, body {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lora', serif;
}

h1,h2,h3,h4,h5,h6, strong, th {
    color: var(--black-80);
}

p,li, small {
    color: var(--black-60);
}

p,li {
    line-height: 1.7;
}

header {
    background-color: var(--white);
    box-shadow: 0 0 20px var(--black-20);
}


.logo {
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer {
    padding: 2rem;
    background-color: var(--black-10);
    text-align: center;
}

.content-body {
    max-width: 768px;
    margin: 0 auto;
    padding: 2rem 1rem 4rem;
}

.home-content {
    background-color:var(--black-80);
}

.home-content a,
.home-content a:hover,
.home-content p,
.home-content h2 {
    color: var(--white);
}

main a {
    color: var(--black-90);
}

main a:hover {
    color: var(--black-70);
    text-decoration: none;
}

.comments {
    background-color: var(--black-020);
}