{{ define "main" }}
<div class="two-col">
    <div class="hero">
        {{ range $index, $element := first 3 (where .Data.Pages "Type" "post") }}
            {{ if eq $index 0}}
                <a href="{{ .Permalink }}">
                    {{ if .Params.imageLink }}
                        <img src="https://source.unsplash.com/{{.Params.imageLink}}/800x400" class="img-responsive" alt=""/>
                    {{ end }}
                    <div class="hero-text">
                        <small class="category">Featured Post</small>
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Description }} <small>[&hellip;]</small></p>
                    </div>
                </a>
            {{ end }}
        {{ end }}
    </div>
    <div>
        {{ partial "blog" . }}
    </div>
</div>
<div class="home-content">
    <div class="content-body">
        <h1>{{.Params.title}}</h1>
        {{ if .Params.imageLink }}
            <img src="https://source.unsplash.com/{{.Params.imageLink}}/800x400" class="img-responsive" alt="" />
        {{ end }}
        
        <p>{{ .Params.subtitle }}</p>
        <p>Feel free to <a href="/contact">reach out</a> with any questions, concerns, and/or whatevs.</p>
    </div>
</div>

{{ end }}
